.skill{
    border-radius: 50%;
    background-color: aliceblue;
    height: 50px;
    width:25vw;
    margin: 10px 10px;
}
a { color: inherit; 
    text-decoration: inherit; 
} 
.card{
    background-color: black;

}
a:hover{
    color: inherit; 
    text-decoration: inherit; 
}

.skill:hover{
    background-color: aqua;
    cursor: pointer;
}
.skillButtons{
    display: flex;
    justify-content: center;
 
}

body {
	
	font-family: Source Sans Pro;
	font-size: 12px;
    font-size: 1rem;
    background-color: black;
    color: white

}
.frame {
    width: 300px;
    height: 300px;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
  }
.top{
    display: flex;
    justify-content: center;
 
}
#headShotAndButtons{
    width: 20vw;
}
#project{
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
}

.col-4{
    display: flex;
    justify-content: center;
}
.container{
    border: black solid 3px;
  
    height:1400px;
}